#mainLoginDiv {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    align-items: center;
}

#loginFormDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
    width: 600px;
    height: 500px;
    background-color: rgb(30, 84, 171);
    font-family: var(--font);
    font-weight: var(--font-regular);
    font-size: 20px;
    color: white;
    z-index: 10;
    box-shadow: 12px 12px 12px gray;
    border-radius: 40px;
}

.login-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#loginH2 {
    font-size: 36px;
    margin-bottom: 30px;
    font-weight: 500;
}

.loginLabel {
    display: flex;
    flex-direction: column;
}

#emailSpan, #passwordSpan {
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.submitButton2 {
    margin-top: 10px;
}

.submitInput2 {
    width: 200px;
    height: 40px;
    font-family: var(--font);
    font-weight: var(--font-bold);
    font-size: 20px;
    color: white;
    background-color: rgb(52, 118, 249);
    border: none;
    cursor: pointer;
    position: relative;
}

#demoButton {
    width: 200px;
    height: 40px;
    background-color: rgb(52, 118, 249);
    border: none;
    font-family: var(--font);
    font-weight: var(--font-bold);
    font-size: 20px;
    color: white;
    cursor: pointer;
    position: relative;
}

.submitInput2:hover,
#demoButton:hover {
    background-color: rgb(48, 107, 225);
}

.submitInput2:disabled,
#demoButton:disabled {
    background-color: rgb(35, 75, 154);
    color: rgb(182, 182, 182);
    cursor: default;
}

.submitInput2:disabled:hover,
#demoButton:disabled:hover {
    background-color: rgb(35, 75, 154);
}

.submitInput2.loading,
.submitInput2.loading:hover,
#demoButton.loading,
#demoButton.loading:hover {
    background-color: rgb(48, 107, 225);
    color: white;
}

#signupAnchor {
    text-decoration: none;
    font-weight: var(--font-bold);
    font-size: 20px;
    color: white;
    margin-top: 25px;
}

#signupAnchor:hover {
    color: orange;
}

.loading-dots-container {
    display: none;
    column-gap: 4px;
    position: absolute;
    bottom: calc(50% - 6px);
}

#demoButton .loading-dots-container {
    left: 80%;
}

.submitInput2 .loading-dots-container {
    left: 68%;
}

#demoButton.loading .loading-dots-container,
.submitInput2.loading .loading-dots-container {
    display: flex;
}

.loading-dot {
    width: 5px;
    height: 5px;
    border-radius: 100%;
    animation: loading-animation 1s infinite alternate;
    background-color: rgba(255, 166, 0, 0.5);
}

.loading-dot:nth-child(2) {
    animation-delay: 0.5s;
}

.loading-dot:nth-child(3) {
    animation-delay: 1s;
}

@keyframes loading-animation {
    0%, 50% {
        background-color: rgba(255, 166, 0, 0.5);
        scale: 1;
    }
    100% {
        background-color: orange;
        scale: 1.5;
    }
}