#mainSignupDiv {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    align-items: center;
    /* background-color: orange; */
}

#signupFormDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 600px;
    height: 850px;
    background-color: rgb(30, 84, 171);
    font-family: var(--font);
    font-weight: var(--font-regular);
    font-size: 20px;
    color: white;
    z-index: 10;
    box-shadow: 12px 12px 12px gray;
    
}

#signupH2 {
    font-size: 36px;
    margin-bottom: 30px;
    font-weight: 500;
}

.signupLabel {
    display: flex;
    flex-direction: column;
}

#emailSpan, #usernameSpan, #firstNameSpan, #lastNameSpan, #schoolSpan, #passwordSpan, #confirmPasswordSpan {
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
}

#image1 {
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 50px;
}

#image2 {
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 1100px;
}

#image3 {
    position: fixed;
    z-index: 1;
    top: 500px;
    left: 50px;
}

#image4 {
    position: fixed;
    z-index: 1;
    top: 500px;
    left: 1300px;
}

.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputField {
    height: 30px;
    width: 336px;
    margin-bottom: 10px;
}   

.submitButton {
    margin-top: 10px;
}

.submitInput {
    width: 200px;
    height: 40px;
    font-family: var(--font);
    font-weight: var(--font-bold);
    font-size: 20px;
}

#loginAnchor {
    text-decoration: none;
    font-weight: var(--font-bold);
    font-size: 20px;
    color: white;
    margin-top: 25px;
}

#loginAnchor:hover {
    color: orange;
}

.inputField:focus {
    outline-color: orange;
}