#big-user-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font);
}

#greeting{
    font-size: 3rem;
    margin-top: 35px;
    margin-bottom: 30px;
    /* margin-left: 150px; */
}

#medium-user-container{
    display: flex;
    gap: 8vw;
    margin-left: 5vw;
}
#user-profile-photo-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#user-profile-edit-container{
    width: 54vw;
}
#display-profile-info-container {
    padding: 2vw;
    width: 40vw;
    /* border: 1px solid green; */
}

#edit-settings-image-holder{
    border: 10px double orange;
    width: 25vw;
    height: 25vw;
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 5vh;
    border-radius: 100%;
    display: flex;
}

.edit-profile-photo{
    width: 100%;
    height: 100%;
}

#edit-settings-image{
    width: 29vw;
}

#editsettings-button{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(30, 84, 171);
    color: white;
    height: 40px;
    width: 50%;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 10px;
}

#savesettings-button{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    color: white;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    height: 50px;
    background-color: rgb(30, 84, 171);
    border-radius: 10px;
}

.edit-profile-input {
    font-size: 18px;
    padding: 15px;
    width: 37.5vw;
    margin-bottom: 27px;
}
.usersettings-label{
    font-size: 18px;
    margin-bottom: 8px;
}
