.name-tooltip {
  position: fixed;
  left: 80px;
  z-index: 5;

  height: fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;
  color: #dbdee1;
  text-align: center;
  background-color: black;
  border-radius: 6px;
  padding: 10px 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  animation: tooltip .2s ease-in;
}