#map_container {
	height: 100%;
	width: 100%;
	position: relative; 
	display: flex;
	justify-content: end;
}

#map_wrapper {
	height: 100%;
	width: 100%;
}

#map {
	width: 100%;
	height: 100%;
	border-radius: 12px 12px 12px 12px;
}

.custom-map-control-button {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  height: 40px;
  cursor: pointer;
}

.custom-map-control-button:hover {
  background: rgb(235, 235, 235);
}

.info_join_session {
	color: blue;
	margin-right: 18px;
	font-weight: 800;
}

.info_join_session:hover {
	cursor: pointer; 
}

.info_event_details_link {
	color: blue;
	font-weight: 800;
}

.info_event_details_link:hover {
	cursor: pointer; 
}

#InfoBoxInternal_wrapper {
	display: flex;
	flex-direction: column;

}

#info_links_wrapper {
	display: flex;
	justify-content: space-between;
}

#info_links_spacer {
	margin-left: 88px;
}