#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 10vh;
    background-color: rgb(30, 84, 171);
    color: white;
    font-family: var(--font);
    font-weight: var(--font-regular);
}

#footerLink {
    margin-left: 10px;
    margin-bottom: 10px;
}