#mainEventUpdateDiv {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 20px;
    font-family: var(--font);
}


#all-requesters-container{
    display: flex;
    flex-direction: column;
    gap: 100px;
}

/* #pending-requesters-container {
} */

#attendee-title{
    font-size: 20px;
    text-decoration: underline;
}

.individual-attendee-container {
    display: flex;
    gap: 20px;
    /* border: 1px solid red; */
    background-color: rgb(30, 84, 171);
    color: white;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    border-radius: 10px;
}

.attendee-username {
    min-width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.attendee-options-container {
    display: flex;
    justify-content: space-around;
    min-width: 30%;
}

.attendee-options{
    border: 1px solid green;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 5px;

}
#accept-button{
    border: 1px solid green;
    background-color: rgb(22, 177, 2);
    border-radius: 10px;
}
#reject-button{
    border: 1px solid red;
    background-color: rgb(253, 111, 111);
    border-radius: 10px;
}
#reject-button:hover{
    background-color: rgb(248, 49, 49);
}

#accept-button:hover{
    background-color: rgb(145, 197, 138);
}

