#splashpage{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#tagline{
    display: flex;
    font-size: 48px;
    font-family: var(--font);
    font-weight: var(--font-bold);
    color: white;
    margin-top: 15vh;
}

#info-words{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}
#big-cover-photo{
    width: 100vw;
    height: 55vh;
    background-color: rgb(30, 84, 171);
    display: flex;
    flex-direction: column;
}

/* team stuff */
#meet-team{
    font-size: 48px;
    margin-bottom: 50px;
    margin-top: 30px;
    color: white;
}
#team-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font);
    font-weight: var(--font-regular);
    background-color: rgb(37, 8, 105);
}
.team-holder{
    display: flex;
    /* border: 3px solid black; */
    justify-content: center;
    margin-bottom: 30px;
}

.individual-team-component {
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-right: 20px;
    margin-left: 20px;
    /* border: 1px solid red; */
}

.team-pics-holder {
    width: 320px;
    height: 320px;
    /* border: 1px solid yellow; */
    overflow: hidden;
}

.team-pics {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    border: 5px solid rgb(199, 68, 243);
}
.teamPosition{
    font-size: 36px;
    margin-bottom: 30px;
    color: white;
}

#team-member-name{
    font-size: 28px;
    margin-top: 30px;
    color: white;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 10vh;
    background-color: rgb(30, 84, 171);
    color: white;
    font-family: var(--font);
    font-weight: var(--font-regular);
}

#splashimage1 {
    height: 60%;
}

#splashDiv2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(61, 14, 170);
}

#splashimage3 {
    width: 750px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#tagline2 {
    color: white;
    font-family: var(--font);
    font-weight: var(--font-bold);
    font-size: 36px;
    margin-left: 40px;
}