#githubLink,
#linkedInLink,
#portfolioLink {
    color: white;
    font-size: 28px;
    margin-top: 10px;
}

#githubLink,
#linkedInLink {
    margin-right: 10px;
}

#githubLink:hover, 
#linkedInLink:hover, 
#portfolioLink:hover {
    color: #c744f3;
}