#githubLink {
    color: white;
    font-size: 28px;
    margin-top: 10px;
    margin-right: 10px;
}

#linkedInLink {
    color: white;
    font-size: 28px;
    margin-top: 10px;
}

#githubLink:hover {
    color: #c744f3;
}

#linkedInLink:hover {
    color: #c744f3;
}