.event-sidebar {
  padding-top: 10px;
  flex-basis: 25%;
  height: calc(100% - 10px);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow: hidden scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  /* background-color:  rgb(30, 100, 214); */
  background-color: rgb(254, 251, 244);
  border-radius: 12px;
}

.event-sidebar::-webkit-scrollbar {
  display: none;
}

.event-sidebar-item {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
  /* border: 1px solid #2054AB; */
  border-radius: 5px;
  width: 91%;
  background-color: white;
  box-shadow: 0px 2px 2px 1px rgba(15, 23, 112, 0.639);

}

.event-sidebar-item.selected {
  border: 4px solid rgb(0, 174, 255)
}

.event-sidebar-item:hover {
  background-color: rgba(242, 242, 242, 0.69);
  cursor: pointer;
}

.event-name {
  text-align: center;
  font-size: 18px;
  background-color: rgb(255, 145, 0);
  font-family: var(--font);
  height: 30px;
  padding-top: 10px;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.event-location {
  text-align: center;
  font-size: 18px;
  font-family: var(--font);
  margin-top: 10px;
}

.event-creator {
  display: flex;
  justify-content: start;
  align-items: center;
  align-content: center;
  font-family: var(--font);
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.user-image {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin: 0 5px;
}

.attendee-photos {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-left: 10px;
}

.user-image.attendee {
  margin: 0 1px;
}

.event-address {
  margin-top: 10px;
  font-family: var(--font);
}
.time{
  font-family: var(--font);
  margin-left: 10px;
  margin-bottom: 10px;
}