
#profile-modal-container{
    position: absolute;
    right: 0px;
    top: 116px;
    z-index: 100;
    border: 5px solid red;
    width: 25vw;
    height: 58vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}

#big-event-container{
    border: 4px solid orange;
    display: flex;
    flex-direction: column;
}

#myevents-create-container {
    border: 3px solid yellow;
    display: flex;
    flex-direction: column;
}

#events-holder{
    border: 2px solid green;
    display: flex;
    flex-direction: column;
}

#profile-modal-footer{
    border: 4px solid orange;
    display: flex;
    flex-direction: column;
}
