@keyframes modal {
    0% {right: -25vw;}
    100% {right: 0px;}
}

@keyframes reversemodal {
    0% {right: 0px;}
    100% {right: -25vw;}
}

#profile-modal-container{
    position: absolute;
    right: 0px;
    top: 116px;
    z-index: 100;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 8px;
    width: 25vw;
    /* height: 58vh; */
    height: fit-content;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    animation-name: modal;
    animation-duration: 0.5s;
}
#profile-modal-container.slideout{
    animation-name: reversemodal;
    animation-duration: 0.5s;
}

#big-event-container{
    /* border: 4px solid orange; */
    display: flex;
    flex-direction: column;
}

#myevents-create-container {
    /* border: 3px solid yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
#myevents-header {
    margin-top: 10px;
    font-size: 27px;
    margin-bottom: 5px;
}

#plus-icon {
    margin-right: 5px;
}
#create-event-button {
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

#create-event-button:hover {
    transform: scale(1.05);
}
#divider {
    width: 22vw;
    border: 1px solid #1E54AB;
}

#events-holder{
    height: 38vh;
    /* border: 1px solid green; */
    border-radius:8px;
    /* margin-top: 10px; */
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 23vw;
    gap: 7px;
    overflow: hidden scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-bottom: 10px;
}

#events-holder::-webkit-scrollbar{
    display: none;
}
.individual-event-holder {
    margin-top:10px;
    margin-left:10px;
    margin-right:10px;
    border: 1px solid #1E54AB;
    /* background-color: rgb(161, 184, 225); */
    min-height: fit-content;
    border-radius:6px;
    text-align: center;
}

#profile-modal-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#settings-button {
    width:10vw;
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius:8px;
    cursor: pointer;
}
#settings-button:hover {
    transform: scale(1.05);
}

#logout-button {
    width:10vw;
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius:8px;
    margin-bottom: 5px;
    cursor: pointer;
}
#logout-button:hover {
    transform: scale(1.05);
}
