@keyframes modal {
    0% {right: -27vw;}
    100% {right: 0px;}
}

@keyframes reversemodal {
    0% {right: 0px;}
    100% {right: -27vw;}
}

#profile-modal-container{
    position: absolute;
    right: 0px;
    top: 116px;
    z-index: 100;
    border: 1px solid gray;
    border-radius: 8px;
    width: 27vw;
    /* height: 58vh; */
    height: fit-content;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    justify-content: center;

    font-family: var(--font);
    font-weight: var(--font-regular);
    animation-name: modal;
    animation-duration: 0.5s;
}
#profile-modal-container.slideout{
    /* animation-name: reversemodal;
    animation-duration: 0.5s; */
    animation: reversemodal 0.5s both;
}

#big-event-container{
    /* border: 4px solid orange; */
    display: flex;
    flex-direction: column;
    width: 100%;
}

#myevents-create-container {
    /* border: 3px solid yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
#events-tab{
    /* border: 1px solid green; */
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 100%;
    justify-content: center;
    overflow: auto;
}
#close-caret{
    font-size: 23px;
    margin-top: 15px;
    margin-right: 7px;
    color: #1e54abcc;
    cursor: pointer;
}
#close-caret i:hover{
    color: rgb(255, 191, 0);
}
.myevents-header {
    padding: 7px 10px;
    border-right: 2px solid #1e54abcc;
    border-bottom: 2px solid #1e54abcc;
    width: fit-content;
    margin-top: 10px;
    font-size: 23px;
    font-size: 1.05rem;
    margin-bottom: 5px;
    text-align: center;
    vertical-align: center;
    cursor: pointer;
}

.myevents-header.selected {
    color: rgb(255, 145, 0);
}
.myevents-header:active{
    color: rgb(255, 145, 0);
}
#myevents-header-last{
    border-right: none;
}

#plus-icon {
    margin-right: 5px;
    color: white;
}
#create-event-button {
    align-self: center;
    width: fit-content;
    border: 1px solid gray;
    background-color: rgb(31 84 171);
    border-radius: 5px;
    color: white;
    padding: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

#create-event-button:hover {
    transform: scale(1.05);
}
#divider {
    width: 23vw;
    border: 1px solid #1e54abcc;
}

#events-holder{
    height: 38vh;
    /* border: 1px solid green; */
    border-radius:8px;
    /* margin-top: 10px; */
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 23vw;
    gap: 7px;
    overflow: hidden scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-bottom: 2px;
}

#events-holder::-webkit-scrollbar{
    display: none;
}
.individual-event-holder {
    margin-top:5px;
    margin-left:10px;
    margin-right:10px;
    border: 1px solid #1E54AB;
    /* background-color: rgb(161, 184, 225); */
    min-height: fit-content;
    border-radius:6px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#profile-modal-footer{
    display: flex;
    width: 100%;
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: space-around;
    gap: 10px;
    border-top: 1px solid #1e54abcc;
    padding-top: 10px;
}

#settings-button {
    color: white;
    width: 120px;
    text-align: center;
    /* border: 1px solid black; */
    padding: 5px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius:8px;
    cursor: pointer;
    background-color: rgb(31 84 171);
}
#settings-button:hover {
    transform: scale(1.05);
}

#logout-button {
    width: 60px;
    text-align: center;
    /* border: 1px solid black; */
    color: white;
    padding: 5px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius:8px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: rgb(31 84 171);
}
#logout-button:hover {
    transform: scale(1.05);
}

.notification-time {
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 10px;
}