#infobox_internal_wrapper {
	flex-direction: column;
	border-radius: 12px;
	padding-top: 2px;
}

#infobox_internal_wrapper {
	height: 105%;
	width: 100%;
	background-color: white;
	font-weight: 800;
}

#infobox_internal_title_wrapper {
	display: flex;
	justify-content: center;
	padding-bottom: 8px;
}

#infobox_internal_title {
	text-decoration: underline;
}

#infobox_internal_join_session_wrapper {
	display: flex;
}


#infobox_internal_join_session {
	color: blue;
	text-decoration: underline;
	margin-right: 18px;
}

#infobox_internal_join_session:hover {
	cursor: pointer;
}

#infobox_internal_session_details {
	color: blue;
	text-decoration: underline;
}

#infobox_internal_session_details:hover {
	cursor: pointer;
}
#infobox_internal_image {
	height: 40px; 
	background-color: grey;
	width: 40px; 
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#infobox_internal_bottom_row_wrapper {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: end;
}
